{:deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  ;; Clerk does not work out of the box for Java 22 projects at the moment,
  ;; so we patch it.
  io.github.nextjournal/markdown {:git/sha "6683c48dfdb23404a23057817b6ac3acf0310bca"}
  io.github.nextjournal/clerk {:mvn/version "0.16.1016"
                               :exclusions [io.github.nextjournal/markdown]}}

 :aliases
 { ;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}

  ;; -- Linux
  :linux
  {:extra-deps {io.github.pfeodrippe/vybe {:mvn/version "0.7.354-linux-x64-SNAPSHOT"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"
              "-Djava.library.path=vybe_native"

              ;; For tracing panama calls.
              #_"-Djextract.trace.downcalls=true"]}

  ;; -- Mac
  :osx
  {:extra-deps {io.github.pfeodrippe/vybe {:mvn/version "0.7.354-macos-universal-SNAPSHOT"} #_{:local/root "../vybe"}
                #_ #_nubank/matcher-combinators {:mvn/version "3.9.1"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"
              "-Djava.library.path=vybe_native"

              "-XstartOnFirstThread"

              ;; For tracing panama calls.
              #_"-Djextract.trace.downcalls=true"]}

  ;; -- Windows
  :win
  {:extra-deps {io.github.pfeodrippe/vybe {:mvn/version "0.7.354-win-x64-SNAPSHOT"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"
              "-Djava.library.path=vybe_native"

              ;; For tracing panama calls.
              #_"-Djextract.trace.downcalls=true"]}}

 :paths ["src" "resources" "vybe_native"]}
